@media screen and (max-width: 850px) {
    .carder1 {
      width: 85%;
      display: block;
      border: solid 2px red;
      flex-direction: column;
      border-radius: 12px;
      margin: 10px 10px;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
    }
  
    .carder1 img {
      width: 85%;
    }
  }
  